@model List<Simple_Webchat.Entities.Concrete.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               UserName
            </th>
            <th>
               Text
            </th>
            <th>
              When
            </th>
            <th>
              Sender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item.UserName
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.When
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="AdminMessage"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
